@using HurriyetciYerelSenAdmin.EDMX;
@model SystemInformation
@{
    ViewBag.Title = "Details";
}
<div class="row">
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Sistem Detayı</h5>
            </div>
            <div class="card-body">
                <form id="FormAuth" action="/System/Update" method="POST" enctype="multipart/form-data">
                    @Html.HiddenFor(x=>x.Id)
                    @Html.HiddenFor(x=>x.SystemLogo)
                    @Html.HiddenFor(x=>x.SystemIcon)
                    <div class="row mb-4">
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">Sistem Logosu</label>
                        <div class="col-sm-5">
                            <div class="card mb-4">
                                <h5 class="card-header">Sistem Logosu</h5>
                                <div class="card-body">
                                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                                        <img src="@Model.SystemLogo"
                                             alt="System-Logo"
                                             class="d-block w-px-100 h-px-100 rounded"
                                             id="LogouploadedAvatar" />
                                        <div class="button-wrapper">
                                            <label for="uploadLogo" class="btn btn-primary me-2 mb-3" tabindex="0">
                                                <span class="d-none d-sm-block">Yeni Fotoğraf Yükle</span>
                                                <i class="ti ti-upload d-block d-sm-none"></i>
                                                <input type="file"
                                                       id="uploadLogo"
                                                       name="SystemLogoFile"
                                                       value="@Model.SystemLogo"
                                                       class="Logoaccount-file-input"
                                                       hidden
                                                       accept="image/png, image/jpeg" />
                                            </label>
                                            <button type="button" class="btn btn-label-secondary Logoaccount-image-reset mb-3">
                                                <i class="ti ti-refresh-dot d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Sıfırla</span>
                                            </button>

                                            <div class="text-muted">JPG, GIF yada PNG Kabul Ediyor.</div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-0" />
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">Sistem İconu</label>
                        <div class="col-sm-5">
                            <div class="card mb-4">
                                <h5 class="card-header">Sistem İconu</h5>
                                <div class="card-body">
                                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                                        <img src="@Model.SystemIcon"
                                             alt="System-Icon"
                                             class="d-block w-px-100 h-px-100 rounded"
                                             id="IconuploadedAvatar" />
                                        <div class="button-wrapper">
                                            <label for="uploadIcon" class="btn btn-primary me-2 mb-3" tabindex="0">
                                                <span class="d-none d-sm-block">Yeni Fotoğraf Yükle</span>
                                                <i class="ti ti-upload d-block d-sm-none"></i>
                                                <input type="file"
                                                       id="uploadIcon"
                                                       name="SystemIconFile"
                                                       value="@Model.SystemIcon"
                                                       class="Iconaccount-file-input"
                                                       hidden
                                                       accept="image/png, image/jpeg, .ico ," />
                                            </label>
                                            <button type="button" class="btn btn-label-secondary Iconaccount-image-reset mb-3">
                                                <i class="ti ti-refresh-dot d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Sıfırla</span>
                                            </button>

                                            <div class="text-muted">.ico Kabul Ediyor.</div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-0" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">Sistem Adı</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="ti ti-clipboard"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       name="SystemName"
                                       id="SystemName"
                                       value="@Model.SystemName"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">Telefon Numarası</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="ti ti-clipboard"></i>
                                </span>
                                <input type="text"
                                       class="form-control phone-mask"
                                       name="SystemTelephone"
                                       id="SystemTelephone"
                                       value="@Model.SystemTelephone"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">FaceBook</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="ti ti-brand-facebook"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       name="FacebookLink"
                                       id="FacebookLink"
                                       value="@Model.FacebookLink"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">Instagram</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="ti ti-brand-instagram"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       name="InstagramLink"
                                       id="InstagramLink"
                                       value="@Model.InstagramLink"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">WhatsApp Api</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="ti ti-brand-whatsapp"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       name="WhatsAppApi"
                                       id="WhatsAppApi"
                                       value="@Model.WhatsAppApi"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">Youtube Hesabı</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="ti ti-clipboard"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       name="YoutubeLink"
                                       id="YoutubeLink"
                                       value="@Model.YoutubeLink"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">Sistem E-Postası</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="ti ti-clipboard"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       name="SystemEmail"
                                       id="SystemEmail"
                                       value="@Model.SystemEmail"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">Sistem Harita Linki</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="ti ti-clipboard"></i>
                                </span>
                                <input type="text"
                                       class="form-control"
                                       name="SystemMapsLink"
                                       id="SystemMapsLink"
                                       value="@Model.SystemMapsLink"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                    </div>
                    <hr class="my-4 mx-n4" />
                    <div class="pt-4">
                        <div class="row">
                            <div class="col-sm-12 d-flex justify-content-end">
                                <a onclick="SystemValidate();" class="btn btn-primary me-sm-2 me-1 form-submit-a">Kaydet</a>
                                <button type="reset" class="btn btn-label-secondary">Sıfırla</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/assets/PageScripts/SystemUpdate.js"></script>
}