@using HurriyetciYerelSen.EDMX
@model Application
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="question-form">
            <div class="sec-title text-center">
                <h3>Online Başvur</h3>
            </div>
            <form id="faq-form" action="/TR/Uyelik">
                <div class="row">
                    <div class="col-md-6">
                        <p>Ad</p>
                        <input type="text" name="ApplicationName" value="@Model.ApplicationName" placeholder="Ad*" required="">
                    </div>
                    <div class="col-md-6">
                        <p>Soyad</p>
                        <input type="email" name="ApplicationSurname" value="@Model.ApplicationSurname" placeholder="Soyad*" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>TC Kimlik Numarası</p>
                        <input type="text" name="ApplicationIdentityNumber" value="@Model.ApplicationIdentityNumber" placeholder="TC Kimlik Numarası*" required="">
                    </div>
                    <div class="col-md-6 ">
                        <p>Cinsiyet</p>
                        @Html.DropDownListFor(x => x.ApplicationGenderID, (SelectList)ViewBag.GenderSelect, " - Seçiniz- ", new { @class = "form-select form-control select2" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Baba Adı</p>
                        <input type="text" name="ApplicationFatherName" value="@Model.ApplicationFatherName" placeholder="Baba Adı*" required="">
                    </div>
                    <div class="col-md-6">
                        <p>Anne Adı</p>
                        <input type="text" name="ApplicationMotherName" value="@Model.ApplicationMotherName" placeholder="Anne Adı*" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Doğum Yeri</p>
                        <input type="text" name="ApplicationBornPlace" value="@Model.ApplicationBornPlace" placeholder="Doğum Yeri*" required="">
                    </div>
                    <div class="col-md-6">
                        <p>Doğum Tarihi</p>
                        <input type="text" name="ApplicationBornDate" value="@Model.ApplicationBornDate" placeholder="Doğum Tarihi*" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Eğitim</p>
                        @Html.DropDownListFor(x => x.ApplicationEducationID, (SelectList)ViewBag.EducationSelect, " - Seçiniz- ", new { @class = "form-select form-control select2" })
                    </div>
                    <div class="col-md-6">
                        <p>Kadronuzun Bağlı Olduğu Kurum</p>
                        @Html.DropDownListFor(x => x.ApplicationOrganisationID, (SelectList)ViewBag.OrganisationSelect, " - Seçiniz- ", new { @class = "form-select form-control select2" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>İşyeri İsmi</p>
                        <input type="text" name="ApplicationWorkPlaceName" value="@Model.ApplicationWorkPlaceName" placeholder="İş Yeri*" required="">
                    </div>
                    <div class="col-md-6">
                        <p>Cep Telefonu</p>
                        <input type="text" name="ApplicationPhoneNumber" value="@Model.ApplicationPhoneNumber" placeholder="Telefon Numaranız*" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>İl İsmi</p>
                        @Html.DropDownListFor(x => x.ApplicationProvinceID, (SelectList)ViewBag.ProvinceSelect, " - Seçiniz- ", new { @class = "form-select form-control select2" })
                    </div>
                    <div class="col-md-6">
                        <p>İlçe İsmi</p>
                        <select id="ApplicationDistrictID" name="ApplicationDistrictID" class="form-select form-control select2">
                            <option>- Seçiniz -</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Kadro Unvanı</p>
                        @Html.DropDownListFor(x => x.ApplicationStaffID, (SelectList)ViewBag.StaffSelect, " - Seçiniz- ", new { @class = "form-select form-control select2" })
                    </div>
                    <div class="col-md-6">
                        <p>Kan Grubu</p>
                        @Html.DropDownListFor(x => x.ApplicationBloodTypeID, (SelectList)ViewBag.BloodType, " - Seçiniz- ", new { @class = "form-select form-control select2" })
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 justify-content-center">
                        <p>E-Posta Adresi</p>
                        <input type="text" name="ApplicationEmail" value="@Model.ApplicationEmail" placeholder="E-Posta Adresiniz" required="">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>