@using HurriyetciYerelSenAdmin.EDMX
@model Member
@{
    ViewBag.Title = "Add";
}
<div class="row">
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Kullanıcı Kayıt Formu</h5>
            </div>
            <div class="card-body">
                <form id="FormAuth" action="/Member/Add" method="POST" enctype="multipart/form-data">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.MemberPhoto)
                    <div class="row mb-4">
                        <div class="col-sm-5">
                            <div class="card mb-4">
                                <h5 class="card-header">Üye Fotoğrafı</h5>
                                <div class="card-body">
                                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                                        <img src="@Model.MemberPhoto"
                                             alt="user-avatar"
                                             class="d-block w-px-100 h-px-100 rounded"
                                             id="uploadedAvatar" />
                                        <div class="button-wrapper">
                                            <label for="upload" class="btn btn-primary me-2 mb-3" tabindex="0">
                                                <span class="d-none d-sm-block">Yeni Fotoğraf Yükle</span>
                                                <i class="ti ti-upload d-block d-sm-none"></i>
                                                <input type="file"
                                                       id="upload"
                                                       name="MemberPhoto"
                                                       value="@Model.MemberPhoto"
                                                       class="account-file-input"
                                                       hidden
                                                       accept="image/png, image/jpeg" />
                                            </label>
                                            <button type="button" class="btn btn-label-secondary account-image-reset mb-3">
                                                <i class="ti ti-refresh-dot d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Sıfırla</span>
                                            </button>

                                            <div class="text-muted">JPG, GIF yada PNG Kabul Ediyor.</div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-0" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">Ad</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="ti ti-user"></i>
                                </span>
                                <input type="text"
                                       class="form-control MemberName"
                                       id="MemberName"
                                       name="MemberName"
                                       value="@Model.MemberName"
                                       autocomplete="off"
                                       placeholder="Ad"
                                       aria-label="Ad"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">Soyad</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-company2" class="input-group-text">
                                    <i class="ti ti-user"></i>
                                </span>
                                <input type="text"
                                       id="MemberSurname"
                                       name="MemberSurname"
                                       value="@Model.MemberSurname"
                                       autocomplete="off"
                                       class="form-control"
                                       placeholder="Soyad"
                                       aria-label="Soyad"
                                       aria-describedby="basic-icon-default-company2" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-email">E-Posta</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="ti ti-mail"></i></span>
                                <input type="text"
                                       id="MemberEmail"
                                       name="MemberEmail"
                                       value="@Model.MemberEmail"
                                       autocomplete="off"
                                       class="form-control"
                                       placeholder="admin"
                                       aria-label="admin"
                                       aria-describedby="basic-icon-default-email2" />
                                <span id="basic-icon-default-email2" class="input-group-text">@@support.com</span>
                            </div>
                        </div>
                        <label class="col-sm-1 form-label" for="basic-icon-default-phone">Telefon</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-phone2" class="input-group-text">
                                    <i class="ti ti-phone"></i>
                                </span>
                                <input type="text"
                                       id="MemberPhoneNumber"
                                       name="MemberPhoneNumber"
                                       value="@Model.MemberPhoneNumber"
                                       autocomplete="off"
                                       class="form-control phone-mask"
                                       placeholder="555 555 5555"
                                       aria-label="555 555 5555"
                                       aria-describedby="basic-icon-default-phone2" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-1 col-form-label" for="MemberFacebook">Facebook</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="ti ti-brand-facebook"></i></span>
                                <input type="text"
                                       id="MemberFacebook"
                                       name="MemberFacebook"
                                       value="@Model.MemberFacebook"
                                       autocomplete="off"
                                       class="form-control"
                                       placeholder="Facebook Profil Link"
                                       aria-label="Facebook Profil Link"
                                       aria-describedby="MemberFacebook" />
                            </div>
                        </div>
                        <label class="col-sm-1 form-label" for="MemberInstagram">Instagram</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="MemberInstagram" class="input-group-text">
                                    <i class="ti ti-brand-instagram"></i>
                                </span>
                                <input type="text"
                                       id="MemberInstagram"
                                       name="MemberInstagram"
                                       value="@Model.MemberInstagram"
                                       autocomplete="off"
                                       class="form-control"
                                       placeholder="Instagram Profil Link"
                                       aria-label="Instagram Profil Link"
                                       aria-describedby="MemberInstagram" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-sm-1 col-form-label" for="MemberTwitter">Twitter</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="ti ti-brand-twitter"></i></span>
                                <input type="text"
                                       id="MemberTwitter"
                                       name="MemberTwitter"
                                       value="@Model.MemberTwitter"
                                       autocomplete="off"
                                       class="form-control"
                                       placeholder="Twitter Profil Link"
                                       aria-label="Twitter Profil Link"
                                       aria-describedby="MemberTwitter" />
                            </div>
                        </div>
                        <label class="col-sm-1 form-label" for="MemberYoutube">Youtube</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="MemberYoutube" class="input-group-text">
                                    <i class="ti ti-brand-youtube"></i>
                                </span>
                                <input type="text"
                                       id="MemberYoutube"
                                       name="MemberYoutube"
                                       value="@Model.MemberYoutube"
                                       autocomplete="off"
                                       class="form-control"
                                       placeholder="Youtube Profil Link"
                                       aria-label="Youtube Profil Link"
                                       aria-describedby="MemberYoutube" />
                            </div>
                        </div>
                    </div>
                    <hr class="my-4 mx-n4" />
                    <div class="row mb-4">
                        <label class="col-sm-1 col-form-label" for="basic-icon-default-company">Pozisyon</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                    <i class="ti ti-float-none"></i>
                                </span>
                                <input type="text"
                                       class="form-control MemberPosition"
                                       id="MemberPosition"
                                       name="MemberPosition"
                                       value="@Model.MemberPosition"
                                       autocomplete="off"
                                       placeholder="Üye Pozisyonu"
                                       aria-label="Üye Pozisyonu"
                                       aria-describedby="basic-icon-default-fullname2" />
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-check form-switch mb-2">
                                @Html.CheckBoxFor(s => s.CentralCheckers, new { @class = "form-check-input" })
                                <label class="form-check-label" for="IsDisplayed">Denetleme Kurlu</label>
                            </div>
                            <div class="form-check form-switch mb-2">
                                @Html.CheckBoxFor(s => s.CentralDirectors, new { @class = "form-check-input" })
                                <label class="form-check-label" for="IsDisplayed">Yönetim Kurlu</label>
                            </div>
                            <div class="form-check form-switch mb-2">
                                @Html.CheckBoxFor(s => s.CentralDiscipline, new { @class = "form-check-input" })
                                <label class="form-check-label" for="IsDisplayed">Disiplin Kurlu</label>
                            </div>
                            <div class="form-check form-switch mb-2">
                                @Html.CheckBoxFor(s => s.Funders, new { @class = "form-check-input" })
                                <label class="form-check-label" for="IsDisplayed">Kurucular</label>
                            </div>
                        </div>
                    </div>
                    <div class="pt-4">
                        <div class="row">
                            <div class="col-sm-12 d-flex justify-content-end">
                                <a onclick="MemberValidate();" class="btn btn-primary me-sm-2 me-1 form-submit-a">Kaydet</a>
                                <button type="reset" class="btn btn-label-secondary">Sıfırla</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@{ 
    <script>
        const FotoStr = "@Html.Raw(Model.MemberPhoto)"
    </script>
}
@section Scripts
{
    <script src="~/assets/PageScripts/MemberAdd.js"></script>
}

